<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/static/theme.css}"
          href="../static/theme.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Survey</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Frontpage</a></li>
                <li><a href="/createSurvey">Create new survey</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">

            <form method="post" action="saveAnswer">
            <table>
                <tr th:each="survey : ${survey}">
                    <div class="container">
                        <td> <h2 style="text-align: center;" th:text="${survey.name}"></h2><br /></td>
                        <td><textarea rows="3" cols="40" name="answer">Answer text</textarea></td>
                    </div>
                </tr>

            </table>
                <input type="submit"  class="btn btn-default" value="Submit" />
            </form>

    </div>

</div>
<!-- /.container -->


</body>
</html>