<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/static/theme.css}"
          href="../static/theme.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Survey</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Frontpage</a></li>
                <li><a href="/createSurvey">Manage</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">

        <div class="col-sm-12">

                   <table>
                    <span th:each="survey : ${survey}">
                        <h1 th:text="${survey.name}"></h1>
                        <td>
                            <tr th:each="answer: ${answer}">
                                <p th:text="${answer.name}"></p>
                            </tr>
                        </td>
                    </span>
                  </table>

        </div>


    </div>

</div>
<!-- /.container -->


</body>
</html>